<div class="page-wrapper" id="dashboard_wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <a routerLink="/employees/holidays">
          <img
            src="../../assets/img/task-box.png"
            style="height: 50px"
            alt=""
          />
          <h5>Holidays</h5>
        </a>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6 p-3 text-center">
        <a routerLink="/employees/leaves">
        <img src="../../assets/img/employees.png" alt="" style="height: 50px" />
        <h5>Leaves</h5>
      </a>
      </div>
    </div>
  </div>
</div>